
:root{
    --a:0;
}




*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.close{
    display: none;
}


body {
    background-color: black ;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}


.right{
    width: 75vw;
} 

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;

} 


.m-1{
    margin: 5px;
}

div.logo{                   /*by me */
    height: 30px;
}

.heading{
    display: flex;
    gap: 15px;
    width: 90vw;  
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 12px;
}
.heading img{
    width: 30px;  
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;   
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
}
.footer a{
    color: gray;
    
}

.right{
    margin: 16px 0px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    
}

.header > *{
    padding: 20px;
    
}

.spotify{
    padding: 16px;
}

.spotify h1{
    padding: 16px;
}

.cardcointainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;
}

.play{
    position: absolute;
    top: 160px;
    left: 160px;
    opacity: var(--a);
    transition: all 1s ease-out;  
}
.card:hover{
    background-color: rgb(94, 92, 92);
    cursor: pointer;
    --a : 1;

}

.pcircle {
    fill: rgb(86, 219, 86);
    width: 30px;
    height: 30px;
    position: relative;
  
  }
.triangle {
    fill: black;
    width: 40px;
    height: 40px;
  }
.card > *{
    padding-top: 9px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 9px;
    padding-top: 5px;
    
}

.buttons > *{
    margin: 0 12px;
}
.signUp{
    background-color:rgb(34, 34, 34);
    color: rgb(158, 151, 151);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 16px;

}
.signUp:hover{
    font-size: 17px;
    color: white;
   

}

.login{
     background-color: white;
     border-radius: 21px;
     color: rgb(77, 73, 73);
     padding: 10px;
     width: 79px;
     cursor: pointer;
     font-size: 16px;
}
.login:hover{
     font-weight: bold;
     padding: 10px 14px; 
     font-size: 17px; 
}
 
.right{
    position: relative;

}
.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    border-radius: 10px;
    background: #dad5d5;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    min-height: 40px;
    

}

.songbtn{
    display: flex;
    justify-content: center;
    gap: 16px;


}

.songlist{
    height: 544px;
    margin-bottom: 44px;
    overflow: auto;

}

.songlist ul{
    padding: 0px 12px;
}

.hamburger{
    display: none;
    width: 4vh;
    cursor: pointer;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid  white;
    margin: 12px 0px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.songlist .info{
    font-size: 14px;
    width: 344px;
}
.info{
    width: 344px;
}

.info div{
    word-break: break-all;
}


.playnow{
    display: flex;
    justify-content: center;
    align-items: center;

}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}


.seekbar{
    height: 4px;
    width: 98%;
    background: black;
    position: absolute;
    bottom: 8px;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}


.songbtn img{
    cursor: pointer;
}


.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;

}
.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{ 
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}






/* for phone */
@media (max-width: 1200px) {
    .left{
        position: absolute;
        left: -133%;
        transition: all 0.5s;
        z-index: 2;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;

    }
    .right{
        width: 100vw;
    }

    .header{
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .playbar{
        width: calc(100vw - 60px);

        
    }
    .seekbar{
        width: calc(100vw - 70px);
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburgercointainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;

    }
    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .card{
        width: 55vw;
    }
    .cardcointainer{
        margin: 0;
        justify-content: center;
    }
    .cardcointainer{
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }
    .close{
        display: block;
        cursor: pointer;
    }
    .right{
        margin: 0;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .play svg{
        display: none;
    }
    .songinfo{
        width: auto;
    }

    .timevol{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
    .playbar{
        right: 19px;
    }

    
  
} 




/* // for less width  */

@media (max-width: 500px){
    .card{
        width: 100%;
    }
    .header>*{
        padding: 2px;
    }
    .buttons>*{
        margin: 0 6px;
    }

    .spotify h1 {
        padding: 4px;
    }
    .playbar{
        right: 19px;
        bottom: -2px;
    }
    .header{
        padding: 7px;
    }
    .library{
        height: 85vh;
    }
    .left{
        width: 100vw;
    }
    .play{
        display: none;
    }


}



