.border {
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
align-item{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.p-1{
    padding: 10px;
}


::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2f2f2f; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #444; /* Color of the scroll thumb */
    border-radius: 10px; /* Rounded corners for the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Color of the scroll thumb on hover */
}